<div class="dash file">
	<div class="container_8">
		<div class="grid_4 omega">
			<p class="icon-files"></p>
		</div>
		<div class="grid_4 omega">
			<div class="summary">
				<p><strong>ID: </strong>{{ metadata.id }}</p>
				<p><strong>Title: </strong>{{ metadata.title  }}</p>
				<p><strong>Size: </strong>{{ metadata.size }}</p>
				<p><strong>Creation date: </strong>{{ metadata.created }}</p>
				<p><strong>Update date: </strong>{{ metadata.modified }}</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>